.button {
  background: #e0e0e0;
  padding: 0.75em 1.5em;
  border-style: none;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  &:hover,
  &:focus {
    background: #aeaeae;
  }
  & .hover:hover,
  & .hover:focus {
    background: #aeaeae;
  }
  &:disabled {
    box-shadow: none;
    color: #9e9e9e;
  }
}

.outline {
  border: 1px solid #3d5afe;
  background: #fff;
  color: #3d5afe;
  box-shadow: none;
  &:hover,
  &focus {
    background: rgba(41, 98, 255, 0.1);
  }
}

.text {
  border: none;
  box-shadow: none;
  background: #fff;
  color: #3d5afe;
  &:hover,
  &focus {
    background: rgba(41, 98, 255, 0.1);
  }
}

.contained {
  background: #3d5afe;
  border-radius: 6px;
  color: #fff;
  &:hover,
  &:focus {
    background: #344edf;
  }
}

.disableShadow {
  box-shadow: none;
}

// Icons
.start-icon,
.end-icon {
  font-size: 15px;
}
.start-icon {
  margin-right: 0.5em;
  margin-left: -0.5em;
}
.end-icon {
  margin-left: 0.5em;
  margin-right: -0.5em;
}
